.show_for_user{
  background: white;
  padding-top:  2rem;
  padding-bottom:  5rem;
}
.only_foto{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#carouselExampleControls{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.form-inline >*{
  margin: 5px 3px;
}
img{
  max-width: 100%;
  height: auto;
}
.list-group{
  padding-left: 1rem;
  margin-bottom: 1rem;
}
