@import "bootstrap";
@import "gritter";

.chart{
  padding-top: 3rem;
}
.all_charts{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.table{
  width: 100%;
}
.form-inline >*{
  margin: 5px 3px;
}
.button_chart{
  padding-top: 20%;
}
