.article_autor_show{
  background: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.article-main{
box-sizing: content-box;
width: 100%;
}
.well{
margin-top: 1rem;
height:350px;
width: 100%;
border: solid 1px black;
overflow-y:scroll;
}
